## Założenia projektu

W ramach projektu anaizowane będą ceny akcji spółek, których jednym z rodzajów działaności jest streaming filmów i seriali:
* Netflix
* Apple (Apple TV)
* Warner Bros (HBO)
* Disney (Disney+)
* Amazon (Amazon Prime)
* CBS (Showtime)

Jako dodatkowa zmienna objaśniająca (poza samym szeregiem czasowym tj. historycznymi cenami akcji) uwzględniona zostanie liczba aktywnych subskrypcji ich serwisów streamingowych.
Dane na temat cen spółek zostaną pozyskane ze strony https://www.nasdaq.com/ z wykorzystaniem biblioteki przeznaczonej dla języka Python i klucza API wygenerowanego dla konta studenckiego

Dane na temat liczby uzytkowników poszczególnych platform pozyskane zostaną z innych źródeł (Statista). Te dane przedstawione są w formie kwartalnej.
* Netflix - https://www.statista.com/statistics/250934/quarterly-number-of-netflix-streaming-subscribers-worldwide/
* Apple TV - 
* HBO - https://www.statista.com/statistics/539290/hbo-now-subscribers/
* Disney+ - https://www.statista.com/statistics/1095372/disney-plus-number-of-subscribers-us/
* Amazon Prime - https://www.statista.com/statistics/504687/number-of-amazon-prime-subscription-households-usa/
* Showtime -

In [18]:
# %pip install Nasdaq-Data-Link

In [9]:
import nasdaqdatalink
import requests
import pandas as pd

#Wygenerowany klucz dla konta
nasdaqdatalink.ApiConfig.api_key = "ibWexyU5CGhGxu2FxAT-"

### Sprawdzenie dostępnych baz dnaych

In [12]:
databases = pd.DataFrame(requests.get('https://data.nasdaq.com/api/v3/databases?download_type=full&api_key=ibWexyU5CGhGxu2FxAT-').json()['databases'])
print(databases.shape)
databases.head(2)

(91, 11)

,id,name,database_code,description,datasets_count,downloads,premium,image,favorite,url_name,exclusive
0,13111,Global Dairy Trade,GDT,,702,370399,False,http://d360wc4uc6n3i9.cloudfront.net/images/de...,False,global-dairy-trade,False
1,454,Warsaw Stock Exchange,WARSAWSE,WIG20 index has been calculated since April 16...,35,14867,False,http://d360wc4uc6n3i9.cloudfront.net/images/de...,False,warsaw-stock-exchange,False

In [14]:
databases.loc[databases['database_code']=='WIKI']

Empty DataFrame
Columns: [id, name, database_code, description, datasets_count, downloads, premium, image, favorite, url_name, exclusive]
Index: []

WIKI/NFLX - Netflix

In [2]:
wbd_data = nasdaqdatalink.get("WIKI/NFLX",rows=10)

### Przykładowe dane

In [31]:
mydata

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-14,180.32,180.52,177.8100,178.440,29075469.0,0.0,1.0,180.32,180.52,177.8100,178.440,29075469.0
2018-03-15,178.50,180.24,178.0701,178.650,22584565.0,0.0,1.0,178.50,180.24,178.0701,178.650,22584565.0
2018-03-16,178.65,179.12,177.6200,178.020,36836456.0,0.0,1.0,178.65,179.12,177.6200,178.020,36836456.0
2018-03-19,177.32,177.47,173.6600,175.300,32804695.0,0.0,1.0,177.32,177.47,173.6600,175.300,32804695.0
2018-03-20,175.24,176.80,174.9400,175.240,19314039.0,0.0,1.0,175.24,176.80,174.9400,175.240,19314039.0
2018-03-21,175.04,175.09,171.2600,171.270,35247358.0,0.0,1.0,175.04,175.09,171.2600,171.270,35247358.0
2018-03-22,170.00,172.68,168.6000,168.845,41051076.0,0.0,1.0,170.00,172.68,168.6000,168.845,41051076.0
2018-03-23,168.39,169.92,164.9400,164.940,40248954.0,0.0,1.0,168.39,169.92,164.9400,164.940,40248954.0
2018-03-26,168.07,173.10,166.4400,172.770,36272617.0,0.0,1.0,168.07,173.10,166.4400,172.770,36272617.0
2018-03-27,173.68,175.15,166.9200,168.340,38962839.0,0.0,1.0,173.68,175.15,166.9200,168.340,38962839.0

Uwagi: czy stawiane prognonozy będą w okresie kwartalnym? czy zamierzają Panowie zbudować model z różnymi częstotliwościami? Jakich okresów będą dotyczyły analizy i prognozy? czy w tym okresie występują jakies zmiany strukturalne?